body{
    background-color: dodgerblue;
    color: cornsilk;
    background-image: url("fondo.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* background: dodgerblue url("fondo.png") no repeat;
        TODAS LAS PROPIEDADES ANTES ESCRITAS SE PUEDEN SIMPLIFICAR EN "background" excepto "background-attachment
    */
}


h1{
    text-align: center;
    background-color: dodgerblue;
    
}