/*h1{
    color: #f72585;
    text-align: center;
}
h2{
    color: #3f37c9;

}

p{
    color: #457b9d;
}
div{
    border: 10px solid #560bad;
    background-color: #f1faee;
    text-align: center;
}

        ELEMENTOS INLINE Y BLOCK    


        

*{
    margin: 0 ;
    padding: 0 ;
    
}
h1{
    color: #f72585;
    text-align: center;
    margin: 15px;
}
h2{
    color: #3f37c9;

}

p{
    color: #457b9d;
}
.tarjeta{
    border: 10px solid #560bad;
    background-color: #f1faee;
    text-align: center;
    margin: 15px 100px;
    padding: 15px;
}

.titulo{
    color: #f72585;
}

        Atributo Class en HTML



*{
    margin: 0 ;
    padding: 0 ;
    
}
#titulo-principal{
    color: #f72585;
    text-align: center;
    margin: 15px;
}
h2{
    color: #3f37c9;

}

p{
    color: #457b9d;
}
.tarjeta{
    border: 10px solid #560bad;
    background-color: #f1faee;
    text-align: center;
    margin: 15px 100px;
    padding: 15px;
}

.titulo{
    color: #f72585;
}

        Atributo "id" en HTML



*{
    margin: 0 ;
    padding: 0 ;
    
}
#titulo-principal{
    color: #f72585;
    text-align: center;
    margin: 15px;
}
h2{
    color: #3f37c9;

}

p{
    color: #457b9d;
}
.tarjeta{
    border: 10px solid #560bad;
    background-color: #f1faee;
    text-align: center;
    margin: 15px 100px;
    padding: 15px;
}

.titulo{
    color: #f72585;
}


        Bookmarks en HTML

*/


.titulo{
    color: #f72585;
    text-align: center;
}

.marco{
    width: 100%;
    height: 200px;
    border:#f72585 solid;
}

.centrar{
    text-align: center;
}

.boton{
    background-color: white;
    border: 2px solid #457b9c;
    text-decoration: none;
    display: inline-block;
    padding: 10px;
 
}
.boton:hover{
    background-color: #457b9c;
    color: white;
}

